MONGODB_URL=mongodb://localhost:27017/<DB_NAME>
JWT_ACCESS_TOKEN_SECRET=<YOUR_SECRET>
JWT_ACCESS_TOKEN_EXPIRATION_MS=3600000

JWT_REFRESH_TOKEN_SECRET=<YOUR_SECRET>
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000
